@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  @apply font-opensans
}
.animated-bg_test{
  background: linear-gradient(-45deg, #0da487, #009289, #653bff);

}
.animated-bg {
  background: linear-gradient(-45deg, #0da487, #009289, #ffa53b);
  background-size: 400% 400%; 

  animation: gradientAnimation 8s ease infinite;
}
.dash{
  @apply after:content-normal after:w-4 after:h-5 after:bg-transparent after:absolute after:right-[6rem] after:top-[-12px] ;
}
.mfx{
  @apply md:flex md:scale-[1] !important;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;

  }
}
.sh{
  box-shadow: 0 0 15px -3px gray;
}